
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MyHotelApp,</h1>
    <p class="lead">MyHotelApp is a Web Application designed to greatly simplify the check in and check out process of any hotel.</p>
    <p>@Html.ActionLink("Get Started Now!", "Register", "Account", null, new { @class = "btn btn-primary" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Easy Access</h2>
        <p>Make a user account to be able to make new reservations with ease.</p>
        <p>@Html.ActionLink("Make an Account", "Register", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Notification Updates</h2>
        <p>Recieve text notifications when your reservations are coming up and when your room is ready for check in.</p>
        <p>@Html.ActionLink("More Information", "NotificationUpdates", "MoreInfo", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Easy Billing</h2>
        <p>Check reservations to easily see your remaining balance to make payments at your own convenience.</p>
        <p>@Html.ActionLink("More Information", "EasyBilling", "MoreInfo", null, new { @class = "btn btn-default" })</p>
    </div>
</div> 
