
<li>@Html.ActionLink("Make a Reservation", "ReservationForm", "GuestMember")</li>
<li>@Html.ActionLink("My Reservations", "Reservations", "GuestMember")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
