
@{
    ViewBag.Title = "EasyBilling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron" style="padding-top: 0px">
    <img src=@Url.Content("~/Images/StripeLogo.png") style="max-height: 250px;" class="container-fluid" alt="Twilio Logo Image" />
</div>
<div class="body-content">
    <p>
        Stripe is one of the best ways to accept payments on web applictaions. We used the Stripe API to allow our guests to pay simply
        and securely at their convenience. 
    </p>
</div>