
@{
    ViewBag.Title = "NotificationUpdates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="padding-top: 0px">
    <img src=@Url.Content("~/Images/TwilioLogo.png") style="max-height: 250px;" class="container-fluid" alt="Twilio Logo Image" />
</div>
<div class="body-content">
    <p>
        Twilio is an API that provides the building blocks to add messaging, voice, and video in web applications. We used Twilio to provide our
        guests with updates on room information, such as when they have a reservation coming up and when their room is available on their day of arrival.
    </p>
</div>

