<li>@Html.ActionLink("My Home", "AdministratorHome", "Administrator")</li>
<li>@Html.ActionLink("Hotel Builder", "SeeAllReservationsTable", "Employee")</li>
<li>@Html.ActionLink("Search Reservation", "SeeAllReservationsTable", "Employee")</li>
<li>@Html.ActionLink("Check In Guest", "Contact", "Home")</li>