<li>@Html.ActionLink("My Home", "AdministratorHome", "Administrator")</li>
<li>@Html.ActionLink("See All Reservations", "SeeAllReservationsTable", "Employee")</li>
<li>@Html.ActionLink("Search Reservation", "SeeAllReservationsByDate", "Employee")</li>
<li>@Html.ActionLink("Check In Guest", "Contact", "Home")</li>