@*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
<li>@Html.ActionLink("See All Reservations", "SeeAllReservationsTable", "Employee")</li>
<li>@Html.ActionLink("Today's Reservations", "SeeTodaysReservations", "Employee")</li>
<li>@Html.ActionLink("See All Rooms", "SeeAllRooms", "Employee")</li>